/* Estilos Generales */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}

body {
    background: linear-gradient(#1354A5 0%, #041832 33.33%, #041832 66.67%, #01080E 100%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

body::before {
    background-image: url("img/candado.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.4;
}

.container {
    width: 90%;
    max-width: 1200px;
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 24px;
    border: 1px solid #1875E8;
    box-shadow: 4px 4px 20px 0px rgba(1, 8, 14, 0.15);
    background-image: url("img/Ruido.png");
    background-size: 100% 100%;
    position: relative;
    overflow: hidden;
    padding: 2rem;
    flex-direction: column;
}

.container__contenido {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    flex-direction: column;
}

.container__informacion {
    flex: 1;
    padding: 1rem;
    text-align: center;
}

h1 {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.2;
    padding: 1rem;
}

.container__texto {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.container__texto-azul {
    color: #1875E8;
    display: block;
}

.container__campo {
    display: flex;
    align-items: center;
    margin: 1rem 0;
    gap: 1rem;
    flex-direction: column;
}

.texto__parrafo {
    color: #FFF;
    font-family: 'Inter';
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0.5rem 0;
}

.container__input, .container__contrasena, .container__validador {
    width: 100%;
    max-width: 496px;
    height: 72px;
    border-radius: 16px;
    background-color: #FFF;
    border: none;
    color: #535353;
    padding: 1rem;
    font-size: 1rem;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
}

.boton {
    color: white;
    font-size: 1rem;
    border: none;
    background-color: #1875E8;
    padding: 1rem;
    border-radius: 16px;
    width: 100%;
    max-width: 243px;
    height: 72px;
    box-shadow: 0px 0px 20px 0px rgba(24, 117, 232, 0.50);
    cursor: pointer;
    margin: 1rem 0;
}

.border_notificacion {
    font-size: 1.5rem;
    border-radius: 15px;
    background-color: #ffffff;
    border: 2px solid #000000;
    padding: 20px;
    text-align: center;
    text-shadow: none;
    margin: 1rem 0;
}

/* Estilos Responsivos */
@media (min-width: 768px) {
    .container {
        flex-direction: row;
        padding: 3rem;
    }

    .container__contenido {
        flex-direction: row;
    }

    h1 {
        font-size: 3rem;
        padding: 2rem;
    }

    .container__campo {
        flex-direction: row;
    }

    .texto__parrafo {
        font-size: 1.5rem;
    }

    .container__input, .container__contrasena, .container__validador, .boton {
        font-size: 1.2rem;
    }

    .border_notificacion {
        font-size: 2rem;
    }
}

@media (min-width: 1024px) {
    h1 {
        font-size: 4rem;
    }

    .texto__parrafo {
        font-size: 1.8rem;
    }

    .container__input, .container__contrasena, .container__validador, .boton {
        font-size: 1.5rem;
    }

    .border_notificacion {
        font-size: 2.5rem;
    }
}
